/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MaSV]
      ,[HoTen]
      ,[MaLop]
      ,[MaMon]
      ,[DiemTB]-
      ,[DiemThiLan1]
      ,[DiemThiLan2]
      ,[DiemTongKet]
      ,[HanhKiem]
      ,[HocKi]
      ,[GhiChu]
  FROM [Quanlydiem].[dbo].[tblKET_QUA]

 