USE [master]
GO
/****** Object:  Database [QuanLyGaRa]    Script Date: 7/5/2019 3:43:03 PM ******/
CREATE DATABASE [QuanLyGaRa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyGaRa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QuanLyGaRa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyGaRa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QuanLyGaRa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyGaRa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyGaRa]
GO
/****** Object:  Table [dbo].[BaoCaoDoanhSo]    Script Date: 7/5/2019 3:43:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoDoanhSo](
	[MaBaoCaoDoanhSo] [int] NOT NULL,
	[NgayBaoCao] [date] NOT NULL,
	[SoLuotSuaChua] [int] NOT NULL,
	[TongDoanhThu] [float] NOT NULL,
	[MaPhieuSuaChua] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoDoanhSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoTon]    Script Date: 7/5/2019 3:43:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoTon](
	[MaBaoCaoTon] [int] NOT NULL,
	[NgayBaoCao] [date] NOT NULL,
	[MaPhuTung] [int] NOT NULL,
	[MaPhieuSuaChua] [int] NOT NULL,
	[TonDau] [float] NOT NULL,
	[TonCuoi] [float] NOT NULL,
	[PhatSinh] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoTon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HieuXe]    Script Date: 7/5/2019 3:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HieuXe](
	[hieuxe] [nvarchar](100) NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[hieuxe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 7/5/2019 3:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[TenDangNhap] [nvarchar](100) NOT NULL,
	[TenHienThi] [nvarchar](100) NOT NULL,
	[PassWord] [nvarchar](1000) NOT NULL,
	[Type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuSuaChua]    Script Date: 7/5/2019 3:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuSuaChua](
	[bienso] [nvarchar](100) NULL,
	[ngaysuachua] [date] NOT NULL,
	[tenphutung] [nvarchar](1000) NOT NULL,
	[dongia] [int] NOT NULL,
	[soluong] [int] NOT NULL,
	[tendichvu] [nvarchar](1000) NOT NULL,
	[tiencong] [decimal](18, 0) NOT NULL,
	[thanhtien] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThuTien]    Script Date: 7/5/2019 3:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuTien](
	[id] [int] NOT NULL,
	[ngaythutien] [date] NOT NULL,
	[sotienthu] [float] NOT NULL,
	[bienso] [nvarchar](100) NULL,
	[ht] [nvarchar](100) NOT NULL,
	[sdt] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuTiepNhan]    Script Date: 7/5/2019 3:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTiepNhan](
	[matiepnhan] [int] NOT NULL,
	[ngaytiepnhan] [date] NOT NULL,
	[bienso] [nvarchar](100) NULL,
	[ht] [nvarchar](100) NOT NULL,
	[sdt] [int] NOT NULL,
	[diachi] [nvarchar](100) NOT NULL,
	[hieuxe] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[matiepnhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuTung]    Script Date: 7/5/2019 3:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuTung](
	[maphutung] [int] NOT NULL,
	[tenphutung] [nvarchar](100) NOT NULL,
	[dongia] [float] NOT NULL,
	[tondau] [int] NOT NULL,
	[toncuoi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maphutung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienCong]    Script Date: 7/5/2019 3:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienCong](
	[matiencong] [int] NOT NULL,
	[tendichvu] [nvarchar](100) NOT NULL,
	[tiencong] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_TienCong] PRIMARY KEY CLUSTERED 
(
	[matiencong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HieuXe] ([hieuxe]) VALUES (N'Audi')
INSERT [dbo].[HieuXe] ([hieuxe]) VALUES (N'BMW')
INSERT [dbo].[HieuXe] ([hieuxe]) VALUES (N'Ferrari')
INSERT [dbo].[PhieuSuaChua] ([bienso], [ngaysuachua], [tenphutung], [dongia], [soluong], [tendichvu], [tiencong], [thanhtien]) VALUES (N'123KJ-M', CAST(N'2019-07-05' AS Date), N'Phuộc trước audi', 1200000, 2, N'Công thay dầu máy', CAST(50000 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[PhieuSuaChua] ([bienso], [ngaysuachua], [tenphutung], [dongia], [soluong], [tendichvu], [tiencong], [thanhtien]) VALUES (N'1234AC', CAST(N'2019-07-05' AS Date), N'Phuộc trước audi', 1200000, 2, N'Công thay dầu máy', CAST(50000 AS Decimal(18, 0)), CAST(3 AS Decimal(18, 0)))
INSERT [dbo].[PhieuSuaChua] ([bienso], [ngaysuachua], [tenphutung], [dongia], [soluong], [tendichvu], [tiencong], [thanhtien]) VALUES (N'123KJ-M', CAST(N'2019-07-05' AS Date), N'Phuộc trước audi', 1200000, 1, N'Công thay dầu máy', CAST(50000 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[PhieuThuTien] ([id], [ngaythutien], [sotienthu], [bienso], [ht], [sdt], [email]) VALUES (1, CAST(N'1999-01-01' AS Date), 1200000, N'AVC123', N'Bùi A ', 123123123, N'ACB@gm.com')
INSERT [dbo].[PhieuTiepNhan] ([matiepnhan], [ngaytiepnhan], [bienso], [ht], [sdt], [diachi], [hieuxe]) VALUES (1, CAST(N'1999-01-01' AS Date), N'123KJ-M', N'Hoàng A', 123123123, N'123 Hà Nội', N'Mercedes-Benz')
INSERT [dbo].[PhieuTiepNhan] ([matiepnhan], [ngaytiepnhan], [bienso], [ht], [sdt], [diachi], [hieuxe]) VALUES (2, CAST(N'1999-02-02' AS Date), N'1234AC', N'Bùi Hoàng ', 123123123, N'12 Ngô Quyền', N'Ford')
INSERT [dbo].[PhieuTiepNhan] ([matiepnhan], [ngaytiepnhan], [bienso], [ht], [sdt], [diachi], [hieuxe]) VALUES (3, CAST(N'2001-03-03' AS Date), N'1234', N'Bùi Á Nam', 123123123, N'1234', N'Ford')
INSERT [dbo].[PhuTung] ([maphutung], [tenphutung], [dongia], [tondau], [toncuoi]) VALUES (1, N'Phuộc trước audi', 1200000, 100, 1000)
INSERT [dbo].[PhuTung] ([maphutung], [tenphutung], [dongia], [tondau], [toncuoi]) VALUES (2, N'Máy phát điện toyota innova', 7200000, 100, 1000)
INSERT [dbo].[PhuTung] ([maphutung], [tenphutung], [dongia], [tondau], [toncuoi]) VALUES (3, N'Phuộc sau toyota innova', 750000, 100, 100)
GO
INSERT [dbo].[TienCong] ([matiencong], [tendichvu], [tiencong]) VALUES (1, N'Công thay dầu máy', CAST(50000 AS Decimal(18, 0)))
INSERT [dbo].[TienCong] ([matiencong], [tendichvu], [tiencong]) VALUES (2, N'Công thay lọc dầu', CAST(50000 AS Decimal(18, 0)))
INSERT [dbo].[TienCong] ([matiencong], [tendichvu], [tiencong]) VALUES (3, N'Công thay dầu máy, lọc dầu', CAST(80000 AS Decimal(18, 0)))
ALTER TABLE [dbo].[BaoCaoDoanhSo] ADD  DEFAULT (getdate()) FOR [NgayBaoCao]
GO
ALTER TABLE [dbo].[BaoCaoDoanhSo] ADD  DEFAULT ((0)) FOR [SoLuotSuaChua]
GO
ALTER TABLE [dbo].[BaoCaoDoanhSo] ADD  DEFAULT ((0)) FOR [TongDoanhThu]
GO
ALTER TABLE [dbo].[BaoCaoTon] ADD  DEFAULT (getdate()) FOR [NgayBaoCao]
GO
ALTER TABLE [dbo].[BaoCaoTon] ADD  DEFAULT ((0)) FOR [TonDau]
GO
ALTER TABLE [dbo].[BaoCaoTon] ADD  DEFAULT ((0)) FOR [TonCuoi]
GO
ALTER TABLE [dbo].[BaoCaoTon] ADD  DEFAULT ((0)) FOR [PhatSinh]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (N'User') FOR [TenHienThi]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [PassWord]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[PhieuThuTien] ADD  DEFAULT (getdate()) FOR [ngaythutien]
GO
ALTER TABLE [dbo].[PhieuThuTien] ADD  DEFAULT ((0)) FOR [sotienthu]
GO
ALTER TABLE [dbo].[PhieuThuTien] ADD  DEFAULT (N'Trống') FOR [ht]
GO
ALTER TABLE [dbo].[PhieuThuTien] ADD  DEFAULT ((0)) FOR [sdt]
GO
ALTER TABLE [dbo].[PhieuThuTien] ADD  DEFAULT (N'Trống') FOR [email]
GO
ALTER TABLE [dbo].[PhieuTiepNhan] ADD  DEFAULT (getdate()) FOR [ngaytiepnhan]
GO
ALTER TABLE [dbo].[PhieuTiepNhan] ADD  DEFAULT (N'Trống') FOR [ht]
GO
ALTER TABLE [dbo].[PhieuTiepNhan] ADD  DEFAULT ((0)) FOR [sdt]
GO
ALTER TABLE [dbo].[PhieuTiepNhan] ADD  DEFAULT (N'Trống') FOR [diachi]
GO
ALTER TABLE [dbo].[PhuTung] ADD  DEFAULT (N'Trống') FOR [tenphutung]
GO
ALTER TABLE [dbo].[PhuTung] ADD  DEFAULT ((0)) FOR [dongia]
GO
ALTER TABLE [dbo].[PhuTung] ADD  DEFAULT ((0)) FOR [tondau]
GO
ALTER TABLE [dbo].[PhuTung] ADD  DEFAULT ((0)) FOR [toncuoi]
GO
ALTER TABLE [dbo].[PhieuTiepNhan]  WITH CHECK ADD  CONSTRAINT [fk_PhieuTiepNhan_HieuXe] FOREIGN KEY([hieuxe])
REFERENCES [dbo].[HieuXe] ([hieuxe])
GO
ALTER TABLE [dbo].[PhieuTiepNhan] CHECK CONSTRAINT [fk_PhieuTiepNhan_HieuXe]
GO
USE [master]
GO
